server:
  port: 8082

spring:
  application:
    name: core-backend
  config:
    import: optional:configserver:http://${CONFIG_SERVER_HOST:localhost}:8888

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.netflix.oss.stack.backend: DEBUG
